.layout {
  height: 100%;

  .content-wrapper {
    padding: 0 50px;
    height: calc(100% - 64px - 70px);

    .content {
      overflow: auto;
      height: calc(100% - 32px);
      background: #fff;
      margin-top: 32px;
    }
  }
}
